* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(102, 75, 75);
  width: 100%;
}

p {
  font-weight: 500;
  color: black;
  text-decoration: solid;
}
h2 {
  padding-top: 30px;
  color: #fb911f;
  font-size: 80px;
  text-shadow: 0 0 0.3em black, 0 0 0.8em #fb911f;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
header.sticky {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .navbar li a {
  color: #fb911f;
}
header.sticky .navbar1 li a {
  color: #fb911f;
}
header img {
  width: 20%;
}

.navbar {
  display: flex;
  position: relative;
}
.navbar li {
  list-style: none;
}
.navbar a {
  color: black;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
}
header .navbar li a:hover {
  color: #fb911f;
  border-bottom: 2px solid #fb911f;
}
.navbar1 {
  visibility: hidden;
  display: flex;
  position: relative;
}
.navbar1 li {
  list-style: none;
}
.navbar1 a {
  color: black;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
}
header .navbar1 li a:hover {
  color: #fb911f;
  border-bottom: 2px solid #fb911f;
}
.bannière {
  position: relative;
  width: 100%;
  height: 390px;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bannière .contenu {
  text-align: center;
}
.bannière .contenu h2 {
  font-size: 80px;
  color: #fb911f;
  text-transform: capitalize;
  text-shadow: 0 0 0.3em black, 0 0 0.8em #fb911f;
}
.bannière .contact h2:hover {
  letter-spacing: 3px;
}

.btn1 {
  font-size: 1rem;
  color: #fff;
  background-color: black;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-left: 10px;
}
.btn2 {
  font-size: 1rem;
  color: #fff;
  background-color: #fb911f;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-left: 10px;
}

.btn1:hover {
  letter-spacing: 4px;
}
.btn2:hover {
  letter-spacing: 4px;
}

.btnprojet {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
section {
  padding: 100px;
}

.apropos {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 490px;
}
.apropos .conteneur {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 40px;
}
.apropos .conteneur .box {
  width: 30%;
  height: 200px;
  padding-top: 50px;
  margin-top: 20px;
  border: 0px solid rgb(255, 255, 255);
  margin: 10px;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.8);
}
.apropos .conteneur .box:hover {
  border: 1px solid lightblue;
  box-shadow: 2px 5px 8px lightblue;
}
.apropos .conteneur .box h4 {
  color: #fb911f;
  padding: 5px;
}
.apropos .conteneur .box p {
  padding: 5px;
  text-align: left;
  font-size: medium;
  color: #fff;
}
.conteneur {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.titre-texte {
  color: #fb911f;
  font-size: 60px;
  text-shadow: 0 0 0.3em black, 0 0 0.8em #fb911f;
}
.titre {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.projet {
  width: 100%;
  height: 590px;
  margin-bottom: 100px;
}

.projet .contenu {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 40px;
}
.projet .contenu .box {
  width: 50%;
  height: 250px;
  margin-top: 20px;
  border: 0px solid rgba(255, 255, 255, 0);
  margin: 10px;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.8);
}
.projet .contenu .box p {
  visibility: hidden;
  margin: 15px;
}
.projet .contenu .box:hover p {
  visibility: visible;
  text-align: start;
  color: #fff;
}
.projet .contenu .box:hover {
  width: 70%;
  border: 1px solid lightblue;
  box-shadow: 5px 8px 10px lightblue;
  height: 400px;
  margin-top: 20px;
  margin: 10px;
}
.projet .contenu .box .imbox {
  position: relative;
  width: 100%;
  height: 200px;
}
.projet .contenu .box .imbox img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.projet .contenu .box .text {
  text-align: center;
  font-weight: 300;
  color: white;
}
.projet2 {
  width: 100%;
  height: 590px;
  margin-top: -100px;
}
.projet2 .contenu {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 40px;
}
.projet2 .contenu .box {
  width: 20%;
  height: 250px;
  margin-top: 20px;
  border: 0px solid rgba(255, 255, 255, 0);
  margin: 10px;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.8);
}
.projet2 .contenu .box p {
  visibility: hidden;
  margin: 15px;
}
.projet2 .contenu .box:hover p {
  display: flex;
  visibility: visible;
  text-align: start;
  color: #fff;
}
.projet2 .contenu .box:hover {
  width: 25%;
  border: 1px solid lightblue;
  box-shadow: 2px 5px 8px lightblue;
  height: 300px;
  margin-top: 20px;
  margin: 10px;
}
.projet2 .contenu .box .imbox {
  position: relative;
  width: 100%;
  height: 200px;
}
.projet2 .contenu .box .imbox img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: fill;
}
.projet2 .contenu .box .text {
  text-align: center;
  font-weight: 300;
  color: white;
}

.contact {
  height: 600px;
  width: 100%;
}
.contactForm {
  padding: 10px 5px;
  background-color: rgba(255, 255, 255, 0.233);
  box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
  width: 50%;
  margin-top: 50px;
}
.contactForm .inputboite {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contactForm a {
  color: black;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
}
.contactForm a:hover {
  letter-spacing: 4px;
  box-shadow: 1px 3px 10px #fb911f;
}
.contactForm h3 {
  color: black;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.contactForm p {
  padding: 10px;
}

.copyright {
  padding: 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(228, 222, 222, 0.1);
  text-align: center;
}
.copyright p:nth-child(1) {
  color: #333;
}
.copyright a {
  color: #fb911f;
  font-weight: 600;
  font-style: italic;
}

/* Responsive */
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  /*style petites-moyennes tablettes */
  .apropos {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 590px;
  }
  .apropos .conteneur .box {
    width: 50%;
    height: 300 px;
    padding-top: 50 px;
    margin-top: 20 px;
    border: 0 px solid rgb(255, 255, 255);
    margin: 10 px;
    box-shadow: 0px 15px 35px rgb(0 0 0 / 80%);
  }

  .projet {
    width: 100%;
    height: 700px;
    margin-bottom: 200px;
  }
  .projet .contenu .box p {
    visibility: hidden;
    margin: 15px;
    font-size: small;
  }
  .projet .contenu .box {
    width: 20%;
  }
  .projet .contenu .box:hover {
    width: 25%;
    border: 1px solid lightblue;
    box-shadow: 2px 5px 8px lightblue;
    height: 350px;
    margin-top: 20px;
    margin: 10px;
  }
  .projet .contenu {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    align-content: space-between;
    align-items: flex-start;
  }
  .projet .contenu .box .imbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .projet2 {
    margin-bottom: 200px;
    height: 500px;
  }
  .projet2 .contenu {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40 px;
    align-content: flex-start;
    align-items: center;
  }
  .projet2 .contenu .box p {
    visibility: hidden;
    margin: 15px;
    font-size: small;
  }
  .projet2 .contenu .box:hover {
    border: 1px solid lightblue;
    box-shadow: 2px 5px 8px lightblue;
    height: 350px;
    margin: 10px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  p {
    font-size: 1rem;
  }
  .titre-texte {
    color: #fb911f;
    font-size: 30px;
    text-shadow: 0 0 0.3em black, 0 0 0.8em #fb911f;
  }

  header img {
    visibility: hidden;
  }
  header.sticky {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 5%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .navbar {
    visibility: hidden;
  }
  .navbar1 {
    visibility: visible;
  }
  .navbar1 a {
    font-size: small;
  }

  .bannière .contenu h2 {
    font-size: 60px;
  }
  .titre-accueil {
    text-align: center;
  }
  .btn1 {
    font-size: 10px;
    padding: 5px 10px;
  }
  .btn2 {
    font-size: 10px;
    padding: 5px 10px;
  }
  .apropos {
    height: 750px;
  }
  .apropos .conteneur {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 40px;
    justify-content: space-between;
  }
  .apropos .conteneur .box {
    width: 70%;
    height: 500px;
    padding-top: 50px;
    margin-top: 20px;
    border: 0px solid rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 5px 15px 35px rgba(0, 0, 0, 0.8);
  }
  .projet {
    height: 1600px;
  }
  .projet .contenu {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
  }
  .projet .contenu .box {
    width: 80%;
    height: 250px;
  }
  .projet .contenu .box:hover {
    width: 95%;
    border: 1px solid lightblue;
    box-shadow: 2px 5px 8px lightblue;
    height: 400px;
    margin-top: 20px;
    margin: 10px;
  }
  .projet p {
    text-align: left;
  }
  .projet2 {
    width: 100%;
    height: 1100px;
  }
  .projet2 .contenu {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 40px;
    align-content: space-between;
  }
  .projet2 .contenu .box {
    width: 80%;
    height: 250px;
    margin-top: 20px;
    border: 0px solid rgba(255, 255, 255, 0);
    margin: 10px;
    box-shadow: 0px 15px 35px rgb(0 0 0 / 80%);
  }
  .projet2 .contenu .box:hover {
    width: 80%;
    border: 1px solid lightblue;
    box-shadow: 5px 8px 10px lightblue;
    height: 300px;
    margin-top: 20px;
    margin: 10px;
  }
  .projet2 .contenu .box .text {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
  .contactForm {
    width: 100%;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 100px) and (max-width: 399px) {
  p {
    font-size: 8px;
  }
  h3 {
    font-size: 10px;
  }
  .titre-texte {
    color: #fb911f;
    font-size: 30px;
    text-shadow: 0 0 0.3em black, 0 0 0.8em #fb911f;
  }

  header img {
    visibility: hidden;
  }

  header.sticky {
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 5px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 5%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  header.sticky a {
    font-size: 10px;
  }
  .navbar {
    visibility: hidden;
  }
  .navbar1 {
    visibility: visible;
    display: flex;
    font-size: larger;
  }
  .navbar1 a {
    font-size: 10px;
  }
  .bannière {
    height: 300px;
  }
  .bannière .contenu h2 {
    font-size: 60px;
  }
  .titre-accueil {
    text-align: center;
  }
  .btn1 {
    font-size: 10px;
    padding: 5px 10px;
  }
  .btn2 {
    font-size: 10px;
    padding: 5px 10px;
  }
  .apropos {
    height: 900px;
  }
  .apropos .conteneur {
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 30px;
    justify-content: space-between;
  }
  .apropos .conteneur .box {
    width: 100%;
    height: 250px;
    padding-top: 50px;
    margin-top: 20px;
    border: 0px solid rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 5px 15px 35px rgba(0, 0, 0, 0.8);
  }
  .apropos .conteneur .box h4 {
    font-size: 12px;
  }
  .apropos .conteneur .box p {
    font-size: 10px;
  }
  .projet {
    height: 1600px;
  }
  .projet .contenu {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
  }
  .projet .contenu .box {
    width: 80%;
    height: 250px;
  }
  .projet .contenu .box:hover {
    width: 95%;
    border: 1px solid lightblue;
    box-shadow: 2px 5px 8px lightblue;
    height: 400px;
  }
  .projet p {
    text-align: left;
  }
  .projet2 {
    width: 100%;
    height: 1100px;
  }
  .projet2 .contenu {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 40px;
    align-content: space-between;
  }
  .projet2 .contenu .box {
    width: 60%;
    height: 250px;
    margin-top: 20px;
    border: 0px solid rgba(255, 255, 255, 0);
    margin: 10px;
    box-shadow: 0px 15px 35px rgb(0 0 0 / 80%);
  }
  .projet2 .contenu .box:hover {
    width: 80%;
    border: 1px solid lightblue;
    box-shadow: 5px 8px 10px lightblue;
    height: 380px;
    margin: 30px;
  }

  .projet2 .contenu .box .text {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
  .contactForm {
    width: 100%;
    height: 300px;
    align-items: center;
  }
  .contactForm a {
    color: black;
    text-decoration: none;
    margin-left: 30px;
    font-size: 10px;
  }
}
