@import url("http://fonts.cdnfonts.com/css/gagalin");
@import url("http://fonts.cdnfonts.com/css/inter");
.cadre {
    padding: 10px;
    margin-bottom: 1%;
}

.cadre h1 {
    font-family: "Gagalin", sans-serif;
    font-size: 1rem;
}
.cadre p {
    font-family: "Inter", sans-serif;
    font-size: smaller;
}
